<footer class="bg-light py-4 mt-5 text-center border-top">
  <div class="container">
    <a href="https://linkedin.com/in/renatadias-deoliveira" target="_blank" class="me-3 text-decoration-none">
      <i class="bi bi-linkedin"></i> LinkedIn
    </a>
    <a href="https://github.com/RehDias" target="_blank" class="text-decoration-none">
      <i class="bi bi-github"></i> GitHub
    </a>

    <p class="text-muted mt-3 mb-0">
      Projeto construído com 💙 utilizando <strong>Angular</strong>, <strong>TypeScript</strong> e <strong>Bootstrap</strong>.
    </p>
  </div>
</footer>
