<div>
  <h2>{{ noticia?.title }}</h2>
  <img src={{ noticia?.image_url }} alt="imagem da noticia" />
  <p>{{ noticia?.description }}</p>
  <p>publicação realizada no dia {{ noticia?.published_at | date: 'dd/MM/yyyy' }}</p>
  <p>{{ noticia?.snippet }}</p>
  <p>Fonte: {{ noticia?.source }}</p>
  <p>Categorias: 
    <span *ngFor="let cat of noticia?.categories; let last = last">
      {{ cat }}<span *ngIf="!last">, </span>
    </span>
  </p>
  <p *ngIf="!isContentPage">
    <a [routerLink]="['/conteudo', noticia?.uuid]">noticias similares</a>
  </p>
</div>
